﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Chernivtsi/IF<br />
    UA Ukraine<br />
    <abbr title="Phone">P:</abbr>
    0990456782
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">sachovskavita@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">sachovskavita@gmail.comm</a>
</address>
