﻿@using Entities.DTOModels
@model WebApp.Models.SubjectViewModel

@{
    ViewBag.Title = "Add subject";
    Layout = "_Layout";
    var subjects = new List<SelectListItem>();

    foreach (SubjectDTO s in ViewBag.Subjects)
    {
        subjects.Add(new SelectListItem { Text = s.Name, Value = s.Name });
    }
}

<h2>Add subject</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSubject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <select asp-for="Name" class="form-control"
                        asp-items="@(new SelectList(subjects, "Value", "Text"))"></select>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hour" class="control-label"></label>
                <input asp-for="Hour" class="form-control" />
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
